<% if is_logged_in? %>
<h1>Create new tweet:</h1>
<form action="/tweets" method="post">
  <label>Enter your message:</label>
<input type="text" name="content" id="content">
<input type="submit" name="submit" value="submit">
</form>
<% end %>