<% if logged_in? %>

Create Your Tweet:
  <form action='/tweets' method="POST">
    <input type="text" name="content"><br>
    <br>
    <input type="submit" id="submit" value="Tweet it">
  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
