<form action="/login" method="POST">
  Login to Fwitter below
  <br>
  Username:<input type="text" name="username">
  <br>
  Email:<input type="text" name="email">
  <br>
  Password:<input type="password" name="password">
  <br>
  <input type="submit" name="submit" value="submit">
</form>
