<form action="/signup" method="post">
  <h1>Sign Up</h1>
  <h3>
  Username: <input type="text" name = "username" placeholder="Username"> 
  Email: <input type="text" name= "email" placeholder="Email">
  Password: <input type="password" name = "password" placeholder="Password">
  </h3>
  
  <input type="submit" name="signup" value= "Sign Up" >
</form>
