
<h1>Welcome to Fwitter!</h1>

Please Log In or Sign Up to continue:
<br><br>
<button onclick="window.location.href= '/login';">Log In</button>
<button onclick="window.location.href= '/signup';">Sign Up</button>

<!--<a href='/login'>Log In</a> or <a href='/signup'>Sign Up</a> to continue-->